﻿<div class="sidebar">
	<div class="scrollbar-inner sidebar-wrapper">
		<div class="user">
			<div class="photo">
				<div>
				<img src="~/Ready-Bootstrap-Dashboard-master/assets/img/profile.jpg" alt="user">
			</div>">
			</div>
			<div class="info">
				<a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
					<span>
						Özcan CAN
						<span class="user-level">Admin</span>
						<span class="caret"></span>
					</span>
				</a>
				<div class="clearfix"></div>

				<div class="collapse in" id="collapseExample" aria-expanded="true" style="">
					<ul class="nav">
						<li>
							<a href="/Feature/FeatureList">
								<span class="link-collapse">Profilim</span>
							</a>
						</li>
						<li>
							<a href="#edit">
								<span class="link-collapse">Şifre Değiştir</span>
							</a>
						</li>
						<li>
							<a href="#settings">
								<span class="link-collapse">Ayarlar</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<ul class="nav">
			<li class="nav-item">
				<a href="/Default/Index" target="_blank">
					<i class="la la-external-link-square"></i>
					<p>Siteye Git</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/ToDoList/Index">
					<i class="la la-calendar-check-o"></i>
					<p>To-Do List</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Statistic/Index">
					<i class="la la-bar-chart"></i>
					<p>İstatistikler</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Message/Inbox">
					<i class="la la-inbox"></i>
					<p>Mesaj Kutusu</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/About/AboutList">
					<i class="la la-user"></i>
					<p>Hakkımda</p>
				</a>
			</li>
			
			<li class="nav-item">
				<a href="/Feature/FeatureList">
					<i class="la la-gears"></i>
					<p>Özelliklerim</p>
				</a>
			</li>
			
			<li class="nav-item">
				<a href="/Skill/SkillList">
					<i class="la la-star-half-full"></i>
					<p>Yeteneklerim</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Experience/ExperienceList">
					<i class="la la-briefcase"></i>
					<p>Deneyimlerim</p>

				</a>
			</li>
			<li class="nav-item">
				<a href="/Portfolio/PortfolioList">
					<i class="la la-tasks"></i>
					<p>Projelerim</p>

				</a>
			</li>
			<li class="nav-item">
				<a href="/Testimonial/TestimonialList">
					<i class="la la-quote-left"></i>
					<p>Referanslarım</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Contact/ContactList">
					<i class="la la-envelope"></i>
					<p>İletişim Bilgilerim</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/SocialMedia/SocialMediaList">
					<i class="la la-slack	"></i>
					<p>Sosyal Medya Bilgilerim</p>
				</a>
			</li>
			
		</ul>
	</div>
</div>