@model List<About>
@{
    ViewData["Title"] = "AboutList";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="main-panel">
    <div class="content">
        <div class="container-fluid">
            <h4 class="page-title">Hakkımda</h4>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Hakkımda Listesi</div>
                        </div>
                        <div class="card-body">
                            <div class="card-sub">
                                Hakkımda ile ilgili işlemleri aşağıdaki panelden yapabilirsiniz.
                            </div>
                            <table class="table mt-3">
                                <thead>
                                    <tr>

                                        <th scope="col">Başlık</th>
                                        <th scope="col">Alt Açıklama</th>
                                        <th scope="col">Detay</th>
                                        <th scope="col">Sil</th>
                                        <th scope="col">Güncelle</th>


                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>

                                            <td>@item.Title</td>
                                            <td>@item.SubDescription</td>
                                            <td>@item.Details</td>
                                            <td><a href="/About/DeleteAbout/@item.AboutId" class="btn btn-outline-danger" style="border-radius:30px">Sil</a></td>
                                            <td><a href="/About/UpdateAbout/@item.AboutId" class="btn btn-outline-success" style="border-radius:30px">Güncelle</a></td>

                                        </tr>
                                    }

                                </tbody>
                            </table>
                            <a href="/About/CreateAbout/" class="btn btn-outline-primary" style="border-radius:30px">Yeni Hakkımda Bilgisi Ekle</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>