﻿<section id="stats" class="s-stats">
    <div class="row block-1-4 block-tab-1-2 block-mob-full stats">

        <div class="col-block stats__col ">
            <div class="stats__count">
                @ViewBag.skillCounter
            </div>
            <h4>Programlama Dili & Teknolojisi Sayısı</h4>
        </div>
        <div class="col-block stats__col">
            <div class="stats__count">
                @ViewBag.experienceCounter
            </div>
            <h4>Is Deneyimi Sayısı</h4>
        </div>
        <div class="col-block stats__col stats__col--highlight">
            <div class="stats__upsign">
                <a href="#"><i class="im im-arrow-up" aria-hidden="true"></i></a>
            </div>
            <div class="stats__count">
                @ViewBag.skillAvg

            </div>
            <h4>Ortalama Yetenek Değeri</h4>
        </div>
        <div class="col-block stats__col">
            <div class="stats__count">
                @ViewBag.workCounter
            </div>
            <h4>Siteye Eklenmiş Is Sayısı</h4>
        </div>

    </div>
</section>