@model Contact
@{
    ViewData["Title"] = "CreateContact";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="main-panel">
    <div class="content">
        <div class="container-fluid">
            <h4 class="page-title">Deneyimler</h4>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Deneyim Ekleme Sayfası</div>
                        </div>
                        <div class="card-sub">
                            Deneyim ekleme işlemleri için veri girişi sağlayınız.
                        </div>
                        <div class="card-body">
                            <form method="post">
                                <label>Başlık</label>
                                <input type="text" asp-for="Title" class="form-control" />
                                <br />
                                <label>Açıklama</label>
                                <input type="text" asp-for="Description" class="form-control" />
                                <br />
                                <label>1. Telefon Numarası</label>
                                <input type="text" asp-for="Phone1" class="form-control" />
                                <br />
                                <label>2. Telefon Numarası</label>
                                <input type="text" asp-for="Phone2" class="form-control" />
                                <br />
                                <label>1. E-Mail Adresi</label>
                                <input type="text" asp-for="Email1" class="form-control" />
                                <br />
                                <label>2. E-Mail Adresi</label>
                                <input type="text" asp-for="Email2" class="form-control" />
                                <br />
                                <label>Adres</label>
                                <input type="text" asp-for="Address" class="form-control" />
                                <br />
                                <button class="btn btn-outline-primary" style="border-radius:30px">Hakkımda Bilgisi Ekle</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>